.navbar{
    width: 12vw;
    background-color: #031a30;
    color: #d19002;
    position: fixed;
    height: 100vh;
    top: 0;
    left: 0;
}
.my_logo{
    width: 100px;
    height: 100px;
}
.list ul li{
    list-style-type: none;
    font-size: 13px; 
    padding: 10px 10px;
    border-top: 0.5px solid rgb(56, 55, 53);
    border-bottom: 0.5px solid rgb(73, 73, 70);
    position: relative;
    text-align: center;
    top: 20px;
    cursor: pointer;
}
